<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bigboiapps.brian.pingchecker" >


    <supports-screens android:resizeable="true"
    android:smallScreens="true"
    android:normalScreens="true"
    android:largeScreens="true"
    android:xlargeScreens="true"
    android:anyDensity="true"/>
    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:largeHeap="true"
        android:icon="@mipmap/ping_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ping_icon_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity android:name=".PingCheck"
            android:windowSoftInputMode="adjustPan">
            <!--android:configChanges="keyboardHidden|orientation">
            android:screenOrientation = "sensorPortrait"-->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts"
            />
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="a2ac3d9b44ba6bde0da1b995558480d4e2b24455"
            />
    </application>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
</manifest>